#!/usr/bin/make -f
#export DH_VERBOSE = 1

export PYBUILD_NAME=lets-connect-client

override_dh_auto_configure:
	cp setup.py setup.py.backup
	cp setup_letsconnect.py setup.py
	dh_auto_configure

override_dh_auto_clean:
	cp setup.py.backup setup.py || true
	rm setup.py.backup || true
	dh_auto_clean

# we remove some things since we add them to the common package
override_dh_auto_install:
	dh_auto_install
	rm -rf debian/python3-lets-connect-client/usr/bin/lets-connect-client
	rm -rf debian/python3-lets-connect-client/usr/share
	mkdir -p debian/lets-connect-client/usr/bin
	mv debian/python-lets-connect-client/usr/bin/lets-connect-client debian/lets-connect-client/usr/bin/lets-connect-client
	rm -rf debian/python-lets-connect-client/usr/share

%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild


# we disable test for now, pybuild runs test from build folder while data_files
# are not copied to there
override_dh_auto_test:


override_dh_auto_build:
	dh_auto_build
